[submodule "hardware/witns_kicad_lib"]
	path = hardware/witns_kicad_lib
	url = https://github.com/lfiack/witns_kicad_lib
[submodule "hardware/test_SGTL5000/witns_kicad_lib"]
	path = hardware/test_SGTL5000/witns_kicad_lib
	url = git@github.com:lfiack/witns_kicad_lib.git
